<sectio class="scroll-mt-24" id="benefits"n>
  <div class="py-24 h-full px-8 md:px-12 lg:px-20 max-w-7xl mx-auto ">
   <div class="flex flex-col">
      <div >
        <p class="text-4xl font-semibold lg:text-9xl tracking-tighter text-white">
          Benefits
        </p><p class="mt-4 text-zinc-400 text-xl      max-w-xs">
          <em> Revolutionizing web development with Jamstack's advantages</em>
        </p>
      </div>
      <div
        class="grid grid-cols-1 mt-12 lg:col-span-3  text-zinc-300  text-base lg:text-4xl mx-auto gap-8"
      >
      
        <p > <span class="text-white">⏤</span>
          Jamstack websites are known for their speed and performance. Content is
          pre-built and served through CDNs (Content Delivery Networks), reducing
          latency and ensuring faster page loads.
        </p>
        <p > <span class="text-white">⏤</span>
          Jamstack websites are inherently more secure because they often have no
          backend server that can be directly attacked. This reduces the risk of
          common vulnerabilities associated with server-side rendering.
        </p>
        <p > <span class="text-white">⏤</span>
          Jamstack architecture allows for easy scalability. You can handle
          traffic spikes and increased demand without worrying about server
          resources.
        </p>
        <p > <span class="text-white">⏤</span>
          Developers enjoy working with Jamstack because it allows them to use
          modern development tools and frameworks. This leads to improved
          developer productivity and code quality.
        </p>
        <p > <span class="text-white">⏤</span>
          Jamstack promotes a clear separation of concerns between the frontend
          and backend. This makes it easier to manage and update content and
          design independently.
        </p>
        <p > <span class="text-white">⏤</span>
          Since most of the content is pre-built and cached, hosting costs are
          often lower compared to traditional server-based websites.
        </p>
      </div>
   </div>
  </div>
</section>
