<section>
  <div class="py-24 h-full px-8 md:px-12 lg:px-32 max-w-7xl mx-auto">
    <div class="max-w-xl">
      <p
        class="text-4xl font-semibold lg:text-5xl mt-12 tracking-tighter text-zinc-900">
        Benefits
      </p><p class="mt-4 text-zinc-500 text-xl mx-auto font-serif">
        <em> Revolutionizing web development with Jamstack's advantages</em>
      </p>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 mt-12 text-zinc-500 text-base mx-auto gap-x-6 gap-y-12">
      <p>
        Jamstack websites are known for their speed and performance. Content is
        pre-built and served through CDNs (Content Delivery Networks), reducing
        latency and ensuring faster page loads.
      </p>
      <p>
        Jamstack websites are inherently more secure because they often have no
        backend server that can be directly attacked. This reduces the risk of
        common vulnerabilities associated with server-side rendering.
      </p>
      <p>
        Jamstack architecture allows for easy scalability. You can handle
        traffic spikes and increased demand without worrying about server
        resources.
      </p>
      <p>
        Developers enjoy working with Jamstack because it allows them to use
        modern development tools and frameworks. This leads to improved
        developer productivity and code quality.
      </p>
      <p>
        Jamstack promotes a clear separation of concerns between the frontend
        and backend. This makes it easier to manage and update content and
        design independently.
      </p>
      <p>
        Since most of the content is pre-built and cached, hosting costs are
        often lower compared to traditional server-based websites.
      </p>
    </div>
  </div>
</section>
