<section>
  <div class="py-24 h-full px-8 md:px-12 lg:px-32 max-w-7xl mx-auto">
    <div class="max-w-xl">
      <p
        class="text-4xl font-semibold lg:text-5xl tracking-tighter text-zinc-900">
        Frequent questions &amp; answers
      </p><p class="mt-4 text-zinc-500 text-xl mx-auto font-serif">
        <em> Revolutionizing web development with Jamstack's advantages</em>
      </p>
    </div>
    <div
      class="flex flex-col divide-y mt-12 text-zinc-500 text-base border-y mx-auto">
      <div class="py-6">
        <p class="text-3xl font-semibold tracking-tighter text-zinc-900">
          What does Jamstack entail?
        </p>
        <p class="mt-4">
          JAMstack is an innovative approach to web development that stands for
          JavaScript, APIs, and Markdown. It's all about creating faster
          websites with improved SEO rankings and a better overall user
          experience.
        </p>
      </div>
      <div class="py-6">
        <p class="text-3xl font-semibold tracking-tighter text-zinc-900">
          What coding languages / Tools do you use?
        </p>
        <p class="mt-4">
          We utilize a range of modern technologies and languages to create your
          websites, including HTML, CSS, JavaScript, and various frameworks like
          React or Vue.js. Additionally, we work with headless Content
          Management Systems (CMS) and APIs to manage content efficiently.
        </p>
      </div>
      <div class="py-6">
        <p class="text-3xl font-semibold tracking-tighter text-zinc-900">
          How fast will I get my coded website?
        </p>
        <p class="mt-4">
          The speed of delivery depends on the complexity of your project and
          your specific requirements. We aim to provide swift delivery, and
          we'll discuss the timeline during our initial consultation. Rest
          assured, we're committed to delivering your website as efficiently as
          possible.
        </p>
      </div>
      <div class="py-6">
        <p class="text-3xl font-semibold tracking-tighter text-zinc-900">
          How can I check the progress of my website and communicate with you?
        </p>
        <p class="mt-4">
          We'll set up a convenient communication channel, such as email or a
          project management platform, to keep you updated on the progress of
          your website. You can communicate with us, ask questions, and provide
          feedback through this channel to ensure a smooth collaboration.
        </p>
      </div>
      <div class="py-6">
        <p class="text-3xl font-semibold tracking-tighter text-zinc-900">
          If I have a blog, do you count each post as a separate page?
        </p>
        <p class="mt-4">
          The way we structure and charge for your blog pages can vary depending
          on your specific needs. Generally, individual blog posts can be
          counted as separate pages, but this can be discussed and tailored to
          your preferences during our project discussions. We aim to be flexible
          and accommodating to meet your requirements.
        </p>
      </div>
    </div>
    <div
      class="text-xs flex flex-col lg:flex-row gap-4 lg:gap-12 w-full font-medium uppercase tracking-tight py-6">
      <p class="text-zinc-500 t">
        © Wind Basic. Design: <a
          href="https://windbasics.com/"
          class="underline underline-offset-2">Wind Basic</a
        >. Demo Images: Respective owners.
      </p>
    </div>
  </div>
</section>
