<section class="scroll-mt-24" id="faq">
  <div class="py-24 h-full px-8 md:px-12 lg:px-32 max-w-6xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
    <div>
        <p
        class="text-4xl font-semibold lg:text-6xl   tracking-tighter text-gray-900"
        >
          FAQ
        </p><p class="mt-4 text-gray-500 text-sm mx-auto max-w-xs">
          Frequent questions &amp; answers
        </p>
      </div>
      <div class="flex flex-col  text-gray-400 text-base mx-auto lg:col-span-2 gap-6">
        <details>
          <summary class="text-base font-medium tracking-tight text-gray-900">What does Jamstack entail?</summary>
          <p class="text-gray-500 text-sm pt-4">JAMstack is an innovative approach to web development that stands for JavaScript, APIs, and Markdown. It's all about creating faster websites with improved SEO rankings and a better overall user experience.</p>
        </details>
        
        <details>
          <summary class="text-base font-medium tracking-tight text-gray-900">What coding languages ?</summary>
          <p class="text-gray-500 text-sm pt-4">We utilize a range of modern technologies and languages to create your websites, including HTML, CSS, JavaScript, and various frameworks like React or Vue.js. Additionally, we work with headless Content Management Systems (CMS) and APIs to manage content efficiently.</p>
        </details>
        
        <details>
          <summary class="text-base font-medium tracking-tight text-gray-900">How fast will I get my coded website?</summary>
          <p class="text-gray-500 text-sm pt-4">The speed of delivery depends on the complexity of your project and your specific requirements. We aim to provide swift delivery, and we'll discuss the timeline during our initial consultation. Rest assured, we're committed to delivering your website as efficiently as possible.</p>
        </details>
        
        <details>
          <summary class="text-base font-medium tracking-tight text-gray-900">How can I check the progress of my website?</summary>
          <p class="text-gray-500 text-sm pt-4">We'll set up a convenient communication channel, such as email or a project management platform, to keep you updated on the progress of your website. You can communicate with us, ask questions, and provide feedback through this channel to ensure a smooth collaboration.</p>
        </details>
        
        <details>
          <summary class="text-base font-medium tracking-tight text-gray-900">If I have a blog, do you count each post as a separate page?</summary>
          <p class="text-gray-500 text-sm pt-4">The way we structure and charge for your blog pages can vary depending on your specific needs. Generally, individual blog posts can be counted as separate pages, but this can be discussed and tailored to your preferences during our project discussions. We aim to be flexible and accommodating to meet your requirements.</p>
        </details>
      </div>
    </div>
  </div>
</section>
