<section >
  <div class="py-2 lg:py-32 h-full px-8 md:px-12 lg:px-20 max-w-7xl mx-auto ">
    <div  class="p-8 rounded-5xl bg-zinc-900  lg:p-20 lg:text-center">
      <p
        class="text-4xl font-semibold lg:text-8xl   tracking-tighter text-white">
        Front-end development at your
        <span >fingertips whenever you need it and want it.</span>
      </p>
      <p class="mt-8 text-zinc-400 text-xl mx-auto    ">
        <em>
          Websites that are incredibly speedy,
          <span class="lg:block"> highly secure, and a breeze to manage.</span>
        </em>
      </p>
      <div class="flex flex-col md:flex-row gap-2 lg:justify-center  mt-12">
        <a
          href="#pricing"
          class="rounded-lg shrink-0 px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white hover:text-white text-black hover:bg-zinc-800 h-10 w-auto"
          >See our pricing</a
        >
        <a
          href="#services"
          class="rounded-lg shrink-0 px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center bg-zinc-800 text-white hover:bg-zinc-700 h-10 w-auto"
          >Checkout our services</a
        >
      </div>
    </div>
  </div>
</section>
