<section>
  <div class="py-12 lg:py-24 h-full px-8 md:px-12 lg:px-32 max-w-7xl mx-auto">
    <div class="text-center bg-zinc-100 rounded-[3rem] p-8 lg:p-20">
      <svg
        class="w-24 h-24 mx-auto rounded-full p-4 bg-[#1B1D20]"
        viewBox="0 0 390 390"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><g clip-path="url(#clip0_696_2)"
          ><rect width="389.909" height="389.909" fill="#1B1D20"></rect><g
            clip-path="url(#clip1_696_2)"
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M126.352 55.7142H56.7092V125.357C56.7092 160.822 83.2185 190.095 117.503 194.443C82.7378 198.346 55.7143 227.841 55.7143 263.648L55.7143 333.291H125.357C160.822 333.291 190.095 306.781 194.443 272.497C198.346 307.263 227.841 334.286 263.648 334.286H333.291V264.643C333.291 229.178 306.781 199.904 272.497 195.557C307.263 191.655 334.286 162.159 334.286 126.352V56.7091L264.643 56.7091C229.178 56.7091 199.904 83.2184 195.557 117.503C191.655 82.7378 162.159 55.7142 126.352 55.7142Z"
              fill="#FAFAFA"></path></g
          ></g
        ><defs
          ><clipPath id="clip0_696_2"
            ><rect width="389.909" height="389.909" fill="white"
            ></rect></clipPath
          ><clipPath id="clip1_696_2"
            ><rect
              width="278.571"
              height="278.571"
              fill="white"
              transform="translate(55.7143 55.7142)"></rect></clipPath
          ></defs
        ></svg
      >
      <p
        class="text-4xl font-semibold lg:text-5xl mt-12 tracking-tighter text-zinc-900">
        Front-end development at your

        <span class="lg:block">fingertips whenever you need it.</span>
      </p><p class="mt-4 text-zinc-500 text-xl mx-auto font-serif">
        <em>
          Websites that are incredibly speedy,

          <span class="lg:block"> highly secure, and a breeze to manage.</span>
        </em>
      </p>
      <div class="flex flex-col md:flex-row gap-2 justify-center mt-12">
        <a
          href="#pricing"
          class="rounded-lg shrink-0 px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center bg-black text-white hover:bg-zinc-700 h-10 w-auto"
          >See our pricing</a
        >
        <a
          href="#services"
          class="rounded-lg shrink-0 px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-black hover:bg-zinc-100 h-10 w-auto"
          >Checkout our services</a
        >
      </div>
    </div>
  </div>
</section>
