<section>
  <div class="py-24 h-full px-8 md:px-12 lg:px-32 max-w-7xl mx-auto">
    <div class="text-center">
      <h2
        class="text-4xl font-semibold lg:text-5xl mt-12 tracking-tighter text-zinc-900">
        Simple pricing
      </h2>
      <p class="mt-4 text-zinc-500 text-xl max-w-sm mx-auto font-serif">
        Explore our range of flexible pricing plans to suit your unique
        requirements
      </p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-px mt-12">
      <div
        class="p-8 rounded-[2.5rem] h-full flex flex-col bg-zinc-50 justify-between gap-8">
        <div>
          <h3 class="text-2xl tracking-tighter font-medium text-zinc-950">
            Limitless - $2999/month
          </h3>
          <p class="text-zinc-500 text-base mt-4">
            Infinite requests and revisions, with the flexibility to cancel at
            any time. Ideal for startups and agencies.
          </p>
        </div>
        <a
          class="rounded-lg shrink-0 px-4 py-2 border text-sm font-semibold transition-all flex items-center justify-center bg-zinc-50 text-black hover:bg-zinc-100 h-10 w-auto"
          href="/contact">Get started</a
        >
      </div>
      <div
        class="p-8 rounded-[2.5rem] h-full flex flex-col border justify-between gap-8 bg-black">
        <div>
          <h3 class="text-2xl tracking-tighter font-medium text-white">
            Set Rate - $299/page
          </h3>
          <p class="text-zinc-300 text-base mt-4">
            Transparent fixed pricing from the start. Perfect for designers or
            those well-versed in Jamstack.
          </p>
        </div><a
          class="rounded-lg shrink-0 px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center bg-black text-white hover:bg-zinc-700 h-10 w-auto"
          href="/start">Get started</a
        >
      </div>
      <div
        class="p-8 rounded-[2.5rem] h-full flex flex-col bg-zinc-50 justify-between gap-8">
        <div>
          <h3 class="text-2xl tracking-tighter font-medium text-zinc-950">
            Tailored Quotation
          </h3>
          <p class="text-zinc-500 text-base mt-4">
            Expect your estimate within 1 business day. Ideal for individuals
            new to Jamstack architecture or intricate projects.
          </p>
        </div>
        <a
          class="rounded-lg shrink-0 px-4 py-2 text-sm border font-semibold transition-all flex items-center justify-center bg-zinc-50 text-black hover:bg-zinc-100 h-10 w-auto"
          href="/contact">Get in touch</a
        >
      </div>
    </div>
  </div>
</section>
