<section class="scroll-mt-24 o" id="pricing">
  
  <div class="py-24 h-full px-8 md:px-12 lg:px-32 max-w-6xl mx-auto ">
    <div class="text-center">
      <h2
        class="text-4xl font-semibold lg:text-6xl tracking-tighter text-gray-900"
      >
        Simple pricing
      </h2>
      <p class="mt-4 text-gray-500 text-sm mx-auto max-w-xs">
        Explore our range of flexible pricing plans to suit your unique
        requirements
      </p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-px mt-24">
      <div
        class="p-8 rounded-4xl h-full flex flex-col bg-gray-100 justify-between gap-8"
      >
        <div>
          <h3 class="text-base font-medium tracking-tight text-gray-900">
            Limitless - $2999/month
          </h3>
          <p class="text-gray-500 text-sm mt-4">
            Infinite requests and revisions, with the flexibility to cancel at
            any time. Ideal for startups and agencies.
          </p>
        </div>
        <a
          class="rounded-full shrink-0 px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-gray-900 hover:bg-gray-800 hover:text-white h-10 w-auto"
          href="/contact">Get started</a
        >
      </div>
      <div
        class="p-8 rounded-4xl h-full flex flex-col justify-between gap-8 bg-black"
      >
        <div>
          <h3 class="text-base font-medium tracking-tight text-white">
            Set Rate - $299/page
          </h3>
          <p class="text-white text-sm mt-4">
            Transparent fixed pricing from the start. Perfect for designers or
            those well-versed in Jamstack.
          </p>
        </div><a
          class="rounded-full shrink-0 px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-gray-900 hover:bg-gray-800 hover:text-white h-10 w-auto"
          href="/start">Get started</a
        >
      </div>
      <div
        class="p-8 rounded-4xl h-full flex flex-col bg-gray-100 justify-between gap-8"
      >
        <div>
          <h3 class="text-base font-medium tracking-tight text-gray-900">
            Tailored Quotation
          </h3>
          <p class="text-gray-500 text-sm mt-4">
            Expect your estimate within 1 business day. Ideal for individuals
            new to Jamstack architecture or intricate projects.
          </p>
        </div>
        <a
          class="rounded-full shrink-0 px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-gray-900 hover:bg-gray-800 hover:text-white h-10 w-auto"
          href="/contact">Get in touch</a
        >
      </div>
    </div>
  </div>
</section>
