<section class="scroll-mt-24" id="services">
  <div class="py-2 h-full px-8 md:px-12 lg:px-20 max-w-7xl mx-auto">
    <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-px">
      <div class="p-8 rounded-5xl bg-zinc-900  lg:p-20 ">
        <div >
          <p
            class="text-4xl font-semibold lg:text-5xl tracking-tighter text-white"
          >
            Design to code
          </p><p class="mt-4 text-zinc-400 text-xl mx-auto     ">
            <em>
              We transform your design files (Figma, Framer, Invision, Sketch,
              etc.) into a stunning, quick-loading, mobile-first website through
              the advanced Jamstack architecture.
            </em>
          </p>
        </div>
        <div
          class="flex flex-col gap-8 mt-12 text-zinc-400 text-base mx-auto pt-8 border-t border-zinc-800 "
        >
          <p> <span class="text-white">⏤</span>
            Set cost per page with no unexpected charges. You'll have full
            transparency on your expenses from the start.
          </p>
          <p> <span class="text-white">⏤</span>
            Real-time preview to stay updated and witness your design being
            transformed into code with a live private preview link.
          </p>
          <p> <span class="text-white">⏤</span>
            Swift delivery and no extended development schedules. Receive your
            coded designs quickly.
          </p>
        </div>
      </div>
      <div class="p-8 rounded-5xl bg-zinc-900  lg:p-20 ">
        <div >
          <p
            class="text-4xl font-semibold lg:text-5xl  tracking-tighter text-white"
          >
            Make it Jamstack
          </p><p class="mt-4 text-zinc-400 text-xl mx-auto     ">
            <em>
              We assist you in transitioning away from sluggish software like
              WordPress and constructing a state-of-the-art website that not
              only attracts more customers but also keeps you ahead of your
              competitors.
            </em>
          </p>
        </div>
        <div
          class="flex flex-col gap-8 mt-12 text-zinc-400 text-base mx-auto pt-8 border-t border-zinc-800"
        >
          <p> <span class="text-white">⏤</span>
            We'll provide a comprehensive overview of how it operates and the
            advantages it can bring to your business.
          </p>
          <p> <span class="text-white">⏤</span>
            Optimal toolkit We'll recommend a set of technologies perfectly
            tailored to your requirements.
          </p>
          <p> <span class="text-white">⏤</span>
            Feature requests & upkeep We'll manage all of these aspects,
            allowing you to focus on growing your business without any worries.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
