<section class="scroll-mt-24" id="services">
  <div class="py-24 h-full px-8 md:px-12 lg:px-32 max-w-6xl mx-auto">
    <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-12">
      <div class="flex flex-col h-full justify-between">
        <div>
          <p
            class="text-4xl font-semibold lg:text-5xl tracking-tighter text-gray-900"
          >
            Design to code
          </p><p
            class="text-base font-medium tracking-tight text-gray-500 mt-4"
          >
            <em>
              We transform your design files (Figma, Framer, Invision, Sketch,
              etc.) into a stunning, quick-loading, mobile-first website through
              the advanced Jamstack architecture.
            </em>
          </p>
        </div>
        <div
          class="flex flex-col gap-8 mt-12 text-gray-500 mx-auto pt-8 border-t border-gray-300 text-sm"
        >
          <p class="inline-flex items-start gap-3">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg></span
            >
             Set cost per page with no unexpected charges. You'll have full
            transparency on your expenses from the start.
          </p>
          <p class="inline-flex items-start gap-3">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg></span
            >
             Real-time preview to stay updated and witness your design being
            transformed into code with a live private preview link.
          </p>
          <p class="inline-flex items-start gap-3">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg></span
            >
             Swift delivery and no extended development schedules. Receive your
            coded designs quickly.
          </p>
        </div>
      </div>
      <div class="flex flex-col h-full justify-between">
        <div>
          <p
            class="text-4xl font-semibold lg:text-5xl tracking-tighter text-gray-900"
          >
            A la Jamstack
          </p><p
            class="text-base font-medium tracking-tight text-gray-500 mt-4"
          >
            <em>
              We assist you in transitioning away from sluggish software like
              WordPress and constructing a state-of-the-art website that not
              only attracts more customers but also keeps you ahead of your
              competitors.
            </em>
          </p>
        </div>
        <div
          class="flex flex-col gap-8 mt-12 text-gray-500 mx-auto pt-8 border-t border-gray-300 text-sm"
        >
          <p class="inline-flex items-start gap-3">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg></span
            >
             We'll provide a comprehensive overview of how it operates and the
            advantages it can bring to your business.
          </p>
          <p class="inline-flex items-start gap-3">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg></span
            >
             Optimal toolkit We'll recommend a set of technologies perfectly
            tailored to your requirements.
          </p>
          <p class="inline-flex items-start gap-3">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg></span
            >
             Feature requests & upkeep We'll manage all of these aspects,
            allowing you to focus on growing your business without any worries.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
