<section class="scroll-mt-24" id="services">
  <div
    class="py-24 h-full px-8 flex flex-col md:px-12 lg:px-32 max-w-7xl mx-auto gap-12 lg:gap-24">
    <div>
      <div class="max-w-xl">
        <p
          class="text-4xl font-semibold lg:text-5xl mt-12 tracking-tighter text-zinc-900">
          Design to code
        </p><p class="mt-4 text-zinc-500 text-xl mx-auto font-serif">
          <em>
            We transform your design files (Figma, Framer, Invision, Sketch,
            etc.) into a stunning, quick-loading, mobile-first website through
            the advanced Jamstack architecture.
          </em>
        </p>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-3 mt-12 text-zinc-500 text-base mx-auto">
        <p>
          Set cost per page with no unexpected charges. You'll have full
          transparency on your expenses from the start.
        </p>
        <p>
          Real-time preview to stay updated and witness your design being
          transformed into code with a live private preview link.
        </p>
        <p>
          Swift delivery and no extended development schedules. Receive your
          coded designs quickly.
        </p>
      </div>
    </div>
    <div>
      <div class="max-w-xl">
        <p
          class="text-4xl font-semibold lg:text-5xl mt-12 tracking-tighter text-zinc-900">
          Make it Jamstack
        </p><p class="mt-4 text-zinc-500 text-xl mx-auto font-serif">
          <em>
            We assist you in transitioning away from sluggish software like
            WordPress and constructing a state-of-the-art website that not only
            attracts more customers but also keeps you ahead of your
            competitors.
          </em>
        </p>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-3 mt-12 text-zinc-500 text-base mx-auto">
        <p>
          We'll provide a comprehensive overview of how it operates and the
          advantages it can bring to your business.
        </p>
        <p>
          Optimal toolkit We'll recommend a set of technologies perfectly
          tailored to your requirements.
        </p>
        <p>
          Feature requests & upkeep We'll manage all of these aspects, allowing
          you to focus on growing your business without any worries.
        </p>
      </div>
    </div>
  </div>
</section>
